body {
	text-align: center;
	background-color: antiquewhite;
}

#board {
	display: none;
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: repeat(8, 50px);
	column-gap: 0px;
	row-gap: 0px;
	border: 2px black solid;
	width: 400px;
	height: 400px;
	text-align: center;
	vertical-align: center;
	margin: auto;
}

.black {
	background-color: #769656;
}

.white {
	background-color: #eeeed2;
}

.square {
	border: 2px solid black;
	font-size: 25px;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

#play-white {
	cursor: pointer;
	outline: 0;
	color: black;
	display: inline-block;
	font-weight: 900;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 0.25rem;
}

#play-white:hover {
	background-color: white;
	color: black;
}

#play-black {
	cursor: pointer;
	outline: 0;
	color: black;
	display: inline-block;
	font-weight: 900;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: 0.25rem;
}

#play-black:hover {
	background-color: black;
	color: white;
}
